.login-page {
  display: flex;
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  overflow: hidden;
}

.login-form {
  flex: 1; /* Takes up half the width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4; 
  padding: 20px;
  position: relative;
}
.login-form-content {
  width: 100%;
  max-width: 400px;
  text-align: left;
}

.account-creation {
  font-family: "Crimson Text", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
  color: #2D1B3D;
}

.account-creation a {
  font-weight: 600;
  color: #6B3F69;
}

.account-creation a:hover {
  text-decoration: underline;
}
.login-form h1 {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  text-align: left;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: left;
  color: #2D1B3D;
}

.login-form form {
  width: 100%; /* Makes the form narrower */
  max-width: 400px; /* Limits the form width */
}

.login-form form div {
  margin-bottom: 15px;
}

.login-image {
  flex: 1; /* Takes up the other half of the width */
  background: url("../../assets/login.png") no-repeat center center;
  background-size: cover; /* Ensures the image covers the entire div */
}
.login-svg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 180px;
  height: auto;
  opacity: 0.9;
  pointer-events: none;
  margin-right: 20px;
}

.login-left {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 25px;
  width: 180px;
  height: auto;
  opacity: 0.9;
  pointer-events: none;
}
.MuiFormLabel-asterisk, .required {
  color: red !important;
}

