.signup-page {
  display: flex;
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  overflow: hidden;
}

.signup-image {
  flex: 1; /* Takes up half the width */
  background: url("../../assets/login.png") no-repeat center center;
  background-size: cover; /* Ensures the image covers the entire div */
}

.signup-form {
  flex: 1; /* Takes up the other half of the width */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  background-color: #f4f4f4; /* Light gray background */
  padding: 20px;
  position: relative;
}

.signup-form-content {
  width: 100%;
  max-width: 400px;
  text-align: left;
}

.signup-form h1 {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  text-align: left;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: left;
  color: #2D1B3D;
}

.signup-form form {
  width: 100%; /* Makes the form narrower */
  max-width: 400px; /* Limits the form width */
}

.signup-form form div {
  margin-bottom: 15px;
}

.login {
  font-family: "Crimson Text", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
  color: #2D1B3D;
}

.login a {
  font-weight: 600;
  color: #6B3F69;
}

.login a:hover {
  text-decoration: underline;
}

.password-error-list {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  gap: 5px;
}

.signup-svg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 280px;
  height: auto;
  opacity: 0.9;
  pointer-events: none;
}

.confirmation-svg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  pointer-events: none;
  margin-right: 30px;
}

@media (max-width: 700px) {
  .signup-image, .signup-svg {
    display: none;
  }

  .signup-form form div {
  margin-bottom: 8px;
  }
}

@media screen and (min-width: 700px) and (max-width: 960px) {
  .signup-page {
    flex-direction: column;
  }
  .signup-svg, .confirmation-svg {
    display: none;
  }
  .signup-form {
    flex: unset;
    height: 75vh;
  }
  .signup-form h1 {
    font-size: 3.2em;
  }
  .signup-form form {
    max-width: 600px; /* Limits the form width */
  }
  .signup-form-content {
    max-width: 500px;
  }
  .login {
    font-size: 25px;
  }
  .password-error-list {
    font-size: 15px;
  }
}