.signup-page {
  display: flex;
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  overflow: hidden;
}

.signup-image {
  flex: 1; /* Takes up half the width */
  background: url("../../assets/signup_login_image.png") no-repeat center center;
  background-size: cover; /* Ensures the image covers the entire div */
}

.signup-form {
  flex: 1; /* Takes up the other half of the width */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  background-color: #f4f4f4; /* Light gray background */
  padding: 20px;
  position: relative;
}

.signup-form-content {
  width: 100%;
  max-width: 400px;
  text-align: left;
}

.signup-form h1 {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  text-align: left;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: left;
  color: var(--text-color);
}

.signup-form form {
  width: 100%; /* Makes the form narrower */
  max-width: 400px; /* Limits the form width */
}

.signup-form form div {
  margin-bottom: 15px;
}

.login {
  font-family: "Crimson Text", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
  color: var(--text-color);
}

.login a {
  font-weight: 600;
  color: var(--hover);
}

.login a:hover {
  text-decoration: underline;
}

.password-error-list {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  gap: 5px;
}

.signup-svg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 280px;
  height: auto;
  opacity: 0.9;
  pointer-events: none;
}

.confirmation-svg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  pointer-events: none;
  margin-right: 30px;
}

/* signup materialUI styles */

.form-textfield-label {
  font-family: 'Crimson Text', serif !important;
  font-size: 18px !important;
}

.form-textfield-label .MuiFormLabel-asterisk {
  color: red !important;
}

.form-textfield-label.Mui-focused {
  color: var(--hover) !important;
  font-weight: 600 !important;
}

.form-textfield-input {
  color: var(--text-color) !important;
  font-family: 'Crimson Text', serif !important;
  font-size: 16px !important;
}

.form-textfield-input::placeholder {
  color: #666666 !important;
  opacity: 1 !important;
}

/* outline input hover */
.form-textfield-root:hover .MuiOutlinedInput-notchedOutline {
  border-width: 2px !important;
  border-color: var(--hover) !important;
}

/*outline input focus */
.form-textfield-root .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-width: 2px !important;
  border-color: var(--hover) !important;
}

/*autofill style */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
  caret-color: var(--text-color) !important;
}

.signup {
  background-color: var(--hover) !important;
  color: #fff !important;
  font-family: 'Crimson Text', serif !important;
  font-size: 17px !important;
  font-weight: 700 !important;
  padding: 10px !important;
  border-radius: 999px !important;
  transition: background 0.2s, color 0.2s, transform 0.2s !important;

}
.signup:hover {
  background-color: var(--text-color) !important;
  transform: scale(1.07) !important;
  box-shadow: 0 4px 12px rgba(77, 43, 145, 0.25) !important;
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  
}

@media (max-width: 700px) {
  .signup-image, .signup-svg {
    display: none;
  }

  .signup-form form div {
  margin-bottom: 8px;
  }
}

@media screen and (min-width: 700px) and (max-width: 960px) {
  .signup-page {
    flex-direction: column;
  }
  .signup-svg, .confirmation-svg {
    display: none;
  }
  .signup-form {
    flex: unset;
    height: 75vh;
  }
  .signup-form form div {
    margin-bottom: 10px;
  }

  .signup-form h1 {
    font-size: 3.2em;
  }
  .signup-form form {
    max-width: 600px; /* Limits the form width */
  }
  .signup-form-content {
    max-width: 500px;
  }
  .login {
    font-size: 25px;
  }
  .password-error-list {
    font-size: 15px;
  }

  .signup-textfield-label {
    font-size: 20px !important;
  }
  .MuiFormHelperText-root.Mui-error {
    font-size: 15px !important;
  }
  .signup-textfield-input::placeholder {
    font-size: 30px !important;
  }
}