.search-book-card {
  /* width: 150px;
  min-height: 380px; */
  /* width: 100px; */
  width: 150px;
  padding: 16px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 4px 12px rgba(171, 124, 231, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  /* flex: 0 0 calc(50% - 16px); */
  /* flex: 0 0 50%; */
  /* max-width: 180px; */
  flex: 0 0 180px;
  flex-grow: 1;
  overflow-x: hidden !important;
}

.search-book-card:hover {
  box-shadow: 0 4px 16px rgba(171, 124, 231, 0.13);
  transform: translateY(-4px);
}


.search-book-image {
  /* width: 160px;
  height: 240px; */
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
  border-radius: 8px;
  background: #eee;
  margin-bottom: 12px;
}

.title-author-wrapper {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
}
.search-book-title {
  font-size: 1rem;
  font-weight: 700;
  /* margin: 8px 0 4px 0; */
  color: var(--text-color);
  text-align: left;
}

.see-more-toggle {
  display: inline-block;
  margin-left: 6px;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 0.85rem;
}

.search-book-authors {
  font-size: 0.95rem;
  color: #555;
  text-align: left;
  margin-bottom: 14px;
}

.search-save-btn {
  margin-top: auto;  
  width: fit-content;
  padding: 10px;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
}

.search-save-btn:hover:not(:disabled) {
  background: var(--hover);
}

.search-save-btn:disabled {
  background: #bbb;
  cursor: default;
}
