:root {
  --primary-color: #ab7ce7;
  --secondary-color: #4F4F4F;
  --background-color: #f2effc;
  --navbar-hover-bg: #ab7ce71f;
  --hover: #6c3fc5;
  --text-color: #4D2B91;
  --filter-pane: #fafafa;
  --error-state: #9d2323;

  --purple-gradient: linear-gradient(
    135deg,
    rgba(171,124,231,0.05) 0%,
    rgba(171,124,231,0.12) 100% 
  );

   --vibrant-header-gradient-soft: linear-gradient(
    135deg,
    rgba(171,124,231,0.10) 0%,
    rgba(203,150,245,0.10) 20%,
    rgba(157,172,255,0.10) 40%,
    rgba(186,144,232,0.10) 60%,
    rgba(231,192,243,0.10) 80%,
    rgba(171,124,231,0.10) 100% 
  );

  /* Add more variables as needed */
}

[data-theme="dark"] {
  /* Dark mode variants */
  --background-color: #1f2938;
  --primary-color: #c49cf0;
  --text-color: #DED4F2;
  --hover: #DED4F2;
  --image-color: #3C106A;
  --secondary-color: #D2D8E5;
  --error-state: #ff9898;
  --filter-pane: #2a3748;
}