:root {
  --primary-color: #ab7ce7;
  --secondary-color: #666;
  --background-color: #ffffff;
  --navbar-hover-bg: rgba(171, 124, 231, 0.12);
  --hover: #6c3fc5;
  --text-color: #4D2B91;
  /* Add more variables as needed */
}